<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.terra.learnthroughgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:debuggable="true"
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MusicActivity" />
        <activity android:name=".MusicLessonsTOCActivity" />
        <activity android:name=".MusicalInstrumentsQuizActivity" />
        <activity
            android:name=".EconActivity"
            android:label="@string/title_activity_econ"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EconLessonActivity"
            android:label="@string/title_activity_econ_lesson"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EconAssignmentActivity"
            android:label="@string/title_activity_econ_assignment"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
